h1 {
    font-family:Bradley Hand, cursive;
    padding-bottom: 2%;
    padding-top: 3%;
}

nav {
    font-family:Bradley Hand, cursive;
    padding-bottom: 2%;
}

header{
    padding-bottom:5% ;
}

h2{
    text-align: center;
}

ul{
    text-align: justify;
}